*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}
body{
    width:100%;
    heigth:100vh;
	
    background: liner-gradient( 45deg, #0a0a0a, #3a4452);
    	backgroud-repeat: no-repeat;
}
h1{
    margin: 40px 60px;
    text-align: center;
    font-size: 90px;
    color: #fff;
    
    
}
.digitalclock{
	position: relative;
    width: 1198px;
    background-color: white;
    color: black;
    display: flex;
    border-radius: 20rem;
    user-select: none;
    border: 3px solid blue;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.week{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    margin-right: 120px;
    font-weight: bold;

}
.week .aktive {
    color: blue;

}

.hour,
.min,
.dot,
.sek,
.milsek,
{
    display: inline-block;
    font-size: 10rem;

}
.time-name{
    position: absolute;
	display: flex;
	justify-content: space-around;
	gap: 160px;
	font-size: 20px;
	color: blue;
	margin-top: 145px;
	margin-left: 230px;
}
.time-hour{
    color: black;
	border: 1px solid blue;
	border-radius: 20px;
	width: 48px;
	background: blue;
	height: 26px;
}
.time-min{
   	color: yellow;
	border: 1px solid blue;
	border-radius: 20px;
	width: 48px;
	background: blue;
	height: 26px;
}
.time-sek{
    	color: red;
	border: 1px solid blue;
	border-radius: 20px;
	width: 48px;
	background: blue;
	height: 26px;
}
.time-milsek{
	
   	color: red;
	border: 1px solid blue;
	border-radius: 20px;
	width: 63px;
	background: blue;
	height: 26px;
}   
    
.min{ 
    color: yellow;
    display: math;

}
.sek{
    color: red;
    display: math;
}
.milsek{
	color: red;
    	display: math;			
}	


.invsible{
    visibility: hidden;
}
