.test3 {
  color: #086CF9;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 1152px;
  margin: 0 auto;
}
@media (max-width: 1192px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  color: #222;
  font-size: 48px;
}

.desc {
  width: 423px;
  font-size: 16px;
  line-height: 155%;
}

.wrapper {
  position: relative;
}
.wrapper .menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
.wrapper .menu .menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .menu .menu__inner .logo {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  width: 118px;
  height: 34px;
}
.wrapper .menu .menu__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.wrapper .menu .menu__inner ul a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
}
.wrapper .menu .menu__inner ul .singup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40.896px;
  padding: 12px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #086CF9;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
nav ul a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
}
nav ul img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  height: 100vh;
  background-image: url(../images/image-people.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding-top: 180px;
  color: white;
}
@media (max-width: 1023px) {
  .main {
    background: #ECF4FF;
    width: 100%;
    color: #222222;
  }
}
@media (max-width: 767px) {
  .main {
    height: auto;
    padding-bottom: 60px;
    padding-top: 107px;
  }
}
.main h1 {
  font-size: 56px;
}
@media (max-width: 1023px) {
  .main h1 {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 25px;
  }
}
.main p {
  width: 867px;
  margin: 24px auto 45px;
  font-size: 16px;
  line-height: 155%;
}
@media (max-width: 880px) {
  .main p {
    width: 100%;
    margin-bottom: 30px;
  }
}

.info {
  width: 1138px;
  background-color: #ffffff;
  margin: -30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 88px;
  border-radius: 4px;
  -webkit-box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.08);
}
@media (max-width: 1150px) {
  .info {
    width: 100%;
  }
}
.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 880px) {
  .info__block {
    width: 100px;
  }
}
.info__block span {
  color: #222;
  font-size: 36px;
  font-weight: 700;
}
.info__block p {
  color: #086CF9;
  font-size: 16px;
  line-height: 155%;
}

.right:hover .scale {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5ms;
  transition: 0.5ms;
}

.course {
  padding-top: 140px;
}
.course .course__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.course .course__inner .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 519px;
          flex: 0 1 519px;
}
.course .course__inner .left h2 {
  margin-bottom: 24px;
}
.course .course__inner .left .desc {
  margin-bottom: 16px;
  width: 478px;
}
.course .course__inner .left h5 {
  width: 489px;
  margin-bottom: 32px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.course .course__inner .right {
  width: 595px;
  height: 433px;
  background-image: url(../images/image-course.webp);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}
.course .course__inner .right a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__item:hover .scale {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5ms;
  transition: 0.5ms;
}

.work {
  padding-top: 128px;
  text-align: center;
}
.work .desc {
  width: 423px;
  margin: 12px auto 48px;
}
.work .work__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

.work__item h3 {
  color: #222;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.work__item p {
  line-height: 155%;
}

.online {
  margin-top: 128px;
  background-color: #ECF4FF;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.online .desc {
  width: 674px;
  margin: 12px auto 48px;
}

.online__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.online__items .online__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  padding: 24px 24px 35px;
  background-color: #fff;
  border-radius: 10px;
}
.online__items .online__item p {
  text-align: left;
  color: #555;
  line-height: 155%;
}

.online__item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #E9E8E8;
}
.online__item_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.online__item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 18px;
}
.online__item_title h3 {
  color: #333;
  font-size: 24px;
}
.online__item_title span {
  color: #086CF9;
  font-size: 24px;
  font-weight: 700;
}

.online__item_image {
  height: 208px;
  border-radius: 6px;
  overflow: hidden;
}
.online__item_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.events {
  padding: 128px 0;
  background-color: #dcd8d8;
}
.events h2 {
  color: #222;
  margin-bottom: 12px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.events .events_p {
  text-align: center;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  width: 421px;
  margin: 0 auto 48px;
}

.events_colleges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  gap: 24px;
}
.events_colleges .college {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
}
.events_colleges .college .apr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 390px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.events_colleges .college .apr .apr_img {
  height: 240px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.events_colleges .college .apr .apr_img .apr_text {
  position: absolute;
  border-radius: 6px 0 0 0;
  background: #086CF9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 12px;
  color: #FFF;
  width: 65px;
  height: 62px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events_colleges .college .apr .apr_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events_colleges .college .apr .event_text {
  padding: 24px 24px 0 24px;
}
.events_colleges .college .apr .event_text .ivan {
  width: 267px;
  color: #222;
  font-size: 20px;
  font-weight: 500;
}
.events_colleges .college .apr .event_text .kampus {
  width: 243px;
  color: #222;
  font-size: 20px;
  font-weight: 500;
}
.events_colleges .college .apr .event_text .david {
  width: 235px;
  color: #222;
  font-size: 20px;
  font-weight: 500;
}

.colleges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555;
  gap: 29px;
  font-size: 14px;
  font-weight: 400;
  line-height: 155%;
  padding-top: 20px;
}
.colleges div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.footer {
  padding-top: 128px;
  margin-bottom: 60px;
  background-color: #D3E5FE;
  padding-bottom: 80px;
}
@media (max-width: 1150px) {
  .footer {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.footer .footer_inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 91px;
}
@media (max-width: 1024px) {
  .footer .footer_inner {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer .footer_inner {
    width: 100%;
  }
}

.nein {
  color: #222;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .nein {
    margin-bottom: 24px;
  }
}

.education p {
  width: 360px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  margin-bottom: 32px;
}
@media (max-width: 400px) {
  .education p {
    width: 100%;
  }
}
.education div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.education div .svg {
  padding: 14px;
  border-radius: 4px;
  background: #FFF;
}

.feature ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 16px;
}
.feature ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.feature ul a {
  color: #444;
  font-size: 16px;
  font-weight: 400;
}

.support ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 16px;
}
.support ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.support ul li a {
  color: #444;
  font-size: 16px;
  font-weight: 400;
}

.contact p {
  width: 203px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  margin-bottom: 16px;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 16px;
}
.contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.contact ul li a {
  color: #444;
  font-size: 16px;
  font-weight: 400;
}